---
import Landing from "../layouts/Landing.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ProblemSolution from "../components/ProblemSolution.astro";
import BentoGrid from "../components/BentoGrid.astro";
import SpeedPrivacy from "../components/SpeedPrivacy.astro";
import DownloadCTA from "../components/DownloadCTA.astro";
import Footer from "../components/Footer.astro";
---

<Landing>
  <Header />
  <main id="main">
    <Hero />
    <ProblemSolution />
    <BentoGrid />
    <SpeedPrivacy />
    <DownloadCTA />
  </main>
  <Footer />
</Landing>
