---
import Landing from "../layouts/Landing.astro";
import Hero from "../components/Hero.astro";
import ProblemSolution from "../components/ProblemSolution.astro";
import BentoGrid from "../components/BentoGrid.astro";
import SpeedPrivacy from "../components/SpeedPrivacy.astro";
import SpotlightCompare from "../components/SpotlightCompare.astro";
import DownloadCTA from "../components/DownloadCTA.astro";
---

<Landing>
  <main id="main">
    <Hero />
    <ProblemSolution />
    <BentoGrid />
    <SpeedPrivacy />
    <SpotlightCompare />
    <DownloadCTA />
  </main>
</Landing>
