---
import Landing from "../layouts/Landing.astro";
import Hero from "../components/Hero.astro";
import Captured from "../components/Captured.astro";
import Edited from "../components/Edited.astro";
import Pasted from "../components/Pasted.astro";
import TrustBand from "../components/TrustBand.astro";
import SpotlightCompare from "../components/SpotlightCompare.astro";
import DownloadCTA from "../components/DownloadCTA.astro";
---

<Landing>
  <main id="main">
    <Hero />
    <Captured />
    <Edited />
    <Pasted />
    <TrustBand />
    <SpotlightCompare />
    <DownloadCTA />
  </main>
</Landing>
