<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.danielius.ClipboardHistory.daemon</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/DrobuDaemon</string>
    <key>MachServices</key>
    <dict>
        <key>com.danielius.ClipboardHistory.daemon</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>com.danielius.ClipboardHistory</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
